.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;

  background-color: #fff;
  height: calc(100vh - 4rem);
  width: 100vw;
  margin-top: 4rem;

  font-size: 32px;

  position: relative;

  font-family: cursive;
}

.container input {
  margin: 15px;
  border-radius: 10px;
}

.container input[type="text"] {
  border: 1.5px solid black;
  padding: 15px;
  outline: none;
  transition: border 0.1s ease;
}

.container input[type="text"]:focus {
  border: 3px solid purple;
}

.container input[type="button"] {
  padding: 15px;
  cursor: pointer;
  border: 2px solid purple;
  background-color: transparent;
  color: purple;
  transition: 0.1s ease;
}

.container input[type="button"]:hover {
  background-color: purple;
  color: #fff;
}

.container textarea {
  width: 20vw;
  height: 30vh;
  max-width: 60vw;
  max-height: 30vh;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: 1.5px solid black;
  transition: border 0.1s ease;
  outline: none;
}

.container textarea:focus {
  border: 3px solid purple;
}

.container h1,
h5 {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container h5 {
  position: absolute;
  bottom: 1rem;
}

.container .video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  gap: 5vw;
}

.container .video .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 70vw;
  height: 100%;
}

.container .video .videos .block {
  width: 10rem;
  height: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 0.3s ease;
  cursor: pointer;
}

.container .video .videos .block:hover {
  transform: scale(1.1);
}

.container .video .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

@media screen and (max-width: 768px) {
  .container textarea {
    width: 60vw;
  }

  .container .video {
    flex-direction: column;
  }
}
